<footer class="site-footer">
    <section class="copyright">{{> "copyright"}}</section>
    <section class="poweredby">Proudly published with <a class="ghost-link" href="https://ghost.org">Ghost</a> using the <a class="ghost-link" href="https://github.com/quangtt/murakami">Murakami</a> theme. Powered by <a class="ghost-link" href="https://aws.amazon.com">Amazon Web Services</a>.</section>
</footer>