<footer class="site-footer">
    <section class="copyright">{{> "copyright"}}</section>
    <section class="poweredby">Built with <a class="ghost-link" href="https://ghost.org">Ghost</a> and <a class="ghost-link" href="https://github.com/quangtt/murakami">Murakami</a> theme.</section>
</footer>