<div class="sidebar {{#if @blog.cover}}my-sidebar-bg{{/if}}" role="aside">
    <header class="header" role="banner">
        {{! The logo of the blog }}
        <a href="/"><img id="blog" class="logo" src="{{@blog.logo}}"></a>

        {{! The title of the blog }}
        <h1 class="title"><a href="/">{{@blog.title}}</a></h1>

        {{! The description of the blog }}
        <p class="description">{{@blog.description}}</p>

        {{! Small separator between user details and menu }}
        <div class="separator"></div>

        {{! Navigation menu }}
        {{> "nav"}}

        {{! Social links }}
        {{> "social"}}
    </header>

    {{! Site footer }}
    {{> "footer"}}
</div>