<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <header class="header" role="banner">
        {{! The logo of the blog }}
        <a href="/"><img id="blog" class="logo" src="{{@blog.logo}}"></a>

        {{! The title of the blog }}
        <h1 class="title"><a href="/">{{@blog.title}}</a></h1>

        {{! The description of the blog }}
        <p class="description">{{@blog.description}}</p>

        {{! Small separator between user details and menu }}
        <div class="separator"></div>

        {{! Navigation menu }}
        {{> "nav"}}

        {{! Social links [CHANGEABLE] }}
        <div class="social-icons">
            <a href="https://github.com/quangtt" class="icon icon-github-circled"></a>
            <a href="https://www.facebook.com/quangtt2812" class="icon icon-facebook"></a>
            <a href="https://www.flickr.com/photos/quangteomedia" class="icon icon-flickr-circled"></a>
            <a href="https://instagram.com/quangteomedia" class="icon icon-instagram"></a>
            <a href="/rss" class="icon icon-rss"></a>
            <a href="mailto:quangtt2182@gmail.com" class="icon icon-mail"></a>
        </div>
    </header>

    <footer class="site-footer">
        <section class="copyright">{{> "copyright"}}</section>
        <section class="poweredby">Proudly published with <a class="ghost-link" href="https://ghost.org">Ghost</a> using the <a class="ghost-link" href="https://github.com/quangtt/murakami">Murakami</a> theme. Powered by <a class="ghost-link" href="https://aws.amazon.com">Amazon Web Services</a>.</section>
    </footer>
</div>
