<div class="social-icons">
    <a href="https://github.com/quangtt" class="icon icon-github"></a>
    <a href="https://www.facebook.com/quangtt2812" class="icon icon-facebook"></a>
    <a href="https://www.flickr.com/photos/quangteomedia" class="icon icon-flickr"></a>
    <a href="https://instagram.com/quangteomedia" class="icon icon-instagram"></a>
    <a href="http://tumblr.quangteomedia.com" class="icon icon-tumblr"></a>
    <a href="/rss" class="icon icon-rss"></a>
    <a href="mailto:quangtt2182@gmail.com" class="icon icon-mail"></a>
</div>