<div class="social-icons">
    <a href="https://github.com/quangtt" class="icon icon-github-squared" title="GitHub"></a>
    <a href="https://www.facebook.com/quangtt2812" class="icon icon-facebook-squared" title="Facebook"></a>
    <a href="https://www.flickr.com/photos/quangteomedia" class="icon icon-flickr" title="Flickr"></a>
    <a href="https://instagram.com/quangteomedia" class="icon icon-instagram" title="Instagram"></a>
    <a href="http://tumblr.quangteomedia.com" class="icon icon-tumblr-squared" title="Tumblr"></a>
    <a href="mailto:quangtt2182@gmail.com" class="icon icon-mail-alt" title="Send me an e-mail..."></a>
</div>