@charset 'UTF-8';

@font-face {
    font-family: 'murakami';
    font-weight: normal;
    font-style: normal;

    src: url('../font/murakami.eot?26631832');
    src: url('../font/murakami.eot?26631832#iefix') format('embedded-opentype'),
    url('../font/murakami.woff?26631832') format('woff'),
    url('../font/murakami.ttf?26631832') format('truetype'),
    url('../font/murakami.svg?26631832#murakami') format('svg');
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'murakami';
    src: url('../font/murakami.svg?26631832#murakami') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'murakami';
    font-weight: normal;
    font-style: normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    display: inline-block;
    /*text-decoration: inherit;*/

    width: 1em;
    margin-right: .2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    text-align: center;
    text-transform: none;

    speak: none;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail-alt:before {
    content: '\e800';
}
.icon-heart:before {
    content: '\e801';
}
.icon-star:before {
    content: '\e802';
}
.icon-user:before {
    content: '\e803';
}
.icon-videocam:before {
    content: '\e804';
}
.icon-camera:before {
    content: '\e805';
}
.icon-picture:before {
    content: '\e806';
}
.icon-home:before {
    content: '\e807';
}
.icon-tag:before {
    content: '\e808';
}
.icon-clock:before {
    content: '\e809';
}
.icon-facebook-squared:before {
    content: '\e80a';
}
.icon-flickr:before {
    content: '\e80b';
}
.icon-github-squared:before {
    content: '\e80c';
}
.icon-instagram:before {
    content: '\e80d';
}
.icon-tumblr-squared:before {
    content: '\e80e';
}
.icon-skype:before {
    content: '\e80f';
}
.icon-stackoverflow:before {
    content: '\e810';
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


html {
    height: 100%;
    max-height: 100%;
}

body {
    font-family: 'Tinos', serif;
    font-size: 1.2em;
    line-height: 1.45em;

    height: 100%;
    max-height: 100%;

    color: #3a4145;
}

::-moz-selection {
    color: #222;
    background: #d6edff;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #d6edff;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tinos', serif;
    line-height: 1;

    margin-top: 0;

    text-rendering: optimizeLegibility;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: 1.2em;

    text-indent: -3px;
}

h2 {
    font-size: 1.7em;
    line-height: 1.2em;

    text-indent: -2px;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p,
ul,
ol {
    margin: 1.2em 0;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: .4em 0;
}

hr {
    display: block;

    height: 1px;
    margin: 2em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #efefef;
}

blockquote {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 1.6em 0 1.6em 0;
    padding: 0 0 0 1.6em;

    border-left: #009e60 .4em solid;
}

blockquote p {
    font-style: italic;

    margin: .8em 0;
}

blockquote small {
    font-size: .9em;

    display: inline-block;

    margin: .8em 0 .8em 1.5em;

    color: #ccc;
}

blockquote small:before {
    content: '\2014 \00A0';
}

blockquote cite {
    font-weight: bold;
}

blockquote cite a {
    font-weight: normal;
}

dl {
    margin: 1.6em 0;
}

dl dt {
    font-weight: bold;

    float: left;
    clear: left;
    overflow: hidden;

    width: 180px;
    margin-bottom: 1em;

    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}

dl dd {
    margin-bottom: 1em;
    margin-left: 200px;
}

mark {
    background-color: #ffc336;
}

code,
tt {
    font-family: Inconsolata, monospace, sans-serif;
    font-size: .85em;

    padding: 1px 3px;

    white-space: pre;

    border: 1px solid #e3edf3;
    border-radius: 2px;
    background: #f7fafb;
}

pre {
    font-family: Inconsolata, monospace, sans-serif;
    font-size: .9em;

    overflow: auto;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    margin: 1.6em 0;
    padding: 10px;

    white-space: pre;

    border: 1px solid #e3edf3;
    border-radius: 3px;
    background: #f7fafb;
}

pre code,
tt {
    font-size: inherit;

    padding: 0;

    white-space: -moz-pre-wrap;
    white-space:      pre-wrap;

    border: none;
    background: transparent;
}

kbd {
    font-size: .9em;
    font-weight: bold;

    display: inline-block;

    margin-bottom: .4em;
    padding: 1px 8px;

    color: #666;
    border: #ccc 1px solid;
    border-radius: 4px;
    background: #f4f4f4;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 white inset;
    text-shadow: #fff 0 1px 0;
}

table {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 1.6em 0;

    background-color: transparent;
}

table th,
table td {
    line-height: 20px;

    padding: 8px;

    text-align: left;
    vertical-align: top;

    border-top: 1px solid #efefef;
}

table th {
    color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody {
    border-top: 2px solid #efefef;
}

table table table {
    background-color: #fff;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
    background: transparent;
}

a {
    transition: color ease .3s;

    color: #4a4a4a;
}

a:hover {
    color: #009e60;
}

.sidebar {
    font-size: .8em;

    position: fixed;

    width: 250px;
    height: 100%;
    padding: 20px 20px 20px 20px;

    -webkit-transform: translateZ(0);
    text-align: center;

    color: #4a4a4a;
    background: #303538 no-repeat center center;
    background-position: 20%;
    background-size: cover;
    box-shadow: 0 0 9px #a9a9a9;
}

.sidebar a {
    color: #4a4a4a;
}

.sidebar a:hover {
    color: #212121;
}

.sidebar a.icon-facebook-squared:hover {
    color: #3b5998;
}

.sidebar a.icon-flickr:hover {
    color: #ed1983;
}

.sidebar a.icon-instagram:hover {
    color: #895a4d;
}

.sidebar a.icon-tumblr-squared:hover {
    color: #314358;
}

.sidebar a.icon-mail-alt:hover {
    color: #a80002;
}

.sidebar .logo {
    display: block;

    width: 70%;
    height: auto;
    margin: 0 auto 20px auto;

    border-radius: 50%;
    background: no-repeat;
    background-size: contain;
}

.sidebar .circle {
    display: block;

    width: 130px;
    height: 130px;
    margin: 0 auto 20px auto;

    border: 5px solid #eee;
    -webkit-border-radius: 99em;
       -moz-border-radius: 99em;
            border-radius: 99em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .3);
}

.sidebar .social-icons {
    position: absolute;
    right: 0;
    left: 0;
    /* background: red; */

    display: inline-block;

    width: 100%;
    margin-top: 10px;
}

.sidebar .icon {
    font-size: 18px;

    display: inline-block;
    /* border: 1px solid white; */
}

.sidebar .title {
    font-size: 2em;
    font-variant: small-caps;

    text-decoration: none;

    color: white;
}

.sidebar .description {
    font-size: .9em;
    font-style: italic;
    line-height: 1.5em;

    margin: 1em 0 1em 0;
}

.sidebar .footer {
    font-size: 12px;

    position: relative;
    bottom: 0;
}

.main-nav ul {
    margin: 1em 0 0 0;
    padding-left: 0;
}

.main-nav ul li {
    width: 100%;

    list-style: none;
}

.main-nav ul li a {
    font-size: 1em;
    line-height: 2em;

    display: block;

    width: 70%;
    margin: 0 auto .5em;

    text-decoration: none;
    text-transform: uppercase;
}

.main-nav ul li a:hover {
    transition: .2s all;
    text-decoration: underline;

    color: #212121;
}

.main-nav ul li:last-child {
    margin-bottom: 0;
}

.content {
    margin-left: 250px;
    padding: 20px 30px 0 30px;
    /*max-width: 800px;*/
}

.content .post {
    margin-top: 1em;
    padding-bottom: 1em;

    word-break: break-word;
    hyphens: auto;

    border-bottom: #e2e2e2 1px solid;
}

.post-content img {
    display: block;

    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content .post .post-title {
    margin: 0;
}

.content .post .post-title a {
    text-decoration: none;
}

.content .post .post-thumb {
    display: none;
    overflow: hidden;

    width: 100%;
    margin: .7em 0;

    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: cover;
}

.content .post .post-thumb:after {
    display: block;

    padding-top: 45%;

    content: '';
}

.content .post .post-excerpt p {
    line-height: 1.4em;

    margin: .5em 0 0 0;
}

.content .post .post-meta {
    font-size: .8em;

    display: inline-block;

    margin-bottom: 10px;

    color: #9eabb3;
}

.content .post .post-meta a {
    text-decoration: none;

    color: #9eabb3;
}

.content .post .post-meta a:hover {
    text-decoration: underline;
}

.content .post .post-meta .post-author a {
    font-weight: bold;
}
.content .post:hover > .post-header a {
    color: #009e60;
}

.separator {
    display: block;

    border-bottom: 1px solid rgba(74, 74, 74, .5);
}

.dotted-separator {
    display: block;

    border-bottom: 1px dashed rgba(255, 255, 255, .5);
}

.author {
    padding-top: 6px;
    padding-bottom: 6px;
}

.author section.author-name {
    font-size: 1.1em;
    font-weight: bold;
}

.author section.author-bio {
    font-size: .9em;
}

/* Project Page */
.projects-content {
    margin-bottom: 2em;
}

.project-page {
    margin: .5em 0 .5em 0;
}

.project-title a {
    display: block;

    text-decoration: none;

    border-bottom: 1px dashed rgba(0, 0, 0, .3);
}

.project-name {
    font-size: .9em;
    font-weight: bold;

    text-transform: uppercase;
}

.project-description {
    font-size: smaller;

    margin-left: .6em;
}
/* End of Project Page */

.pagination {
    font-family: 'Tinos', serif;
    font-size: .9rem;

    position: relative;

    width: 100%;
    max-width: 800px;
    margin: 3em 0;

    text-align: center;

    color: #9eabb3;
}

.pagination a {
    text-decoration: none;

    color: #009e60;
}

.pagination a:hover {
    text-decoration: underline;
}

.sidebar .site-footer {
    font-family: 'Tinos', serif;
    font-size: .7rem;
    line-height: 1.4em;

    position: absolute;
    right: 1em;
    bottom: 1em;
    left: 1em;

    color: #4a4a4a;
}

.sidebar .site-footer a {
    text-decoration: none;

    color: #4a4a4a;
}

.sidebar .site-footer a:hover {
    text-decoration: underline;
}

.body-footer {
    display: none;
}

.poweredby .ghost-link {
    font-size: 1.1em;
    font-weight: bolder;

    text-decoration: none;
}

.poweredby .ghost-link:hover {
    text-decoration: none;
}

.poweredby .ghost-link:before {
    font-size: 1rem;

    margin-right: .2em;
}

.post-footer {
    margin-top: 3em;
}

.post-share {
    font-size: 1.2em;

    margin-bottom: .5em;

    text-transform: uppercase;
}

.share {
    text-align: right !important;
}

.share ul {
    margin-top: 0;
    margin-bottom: 3em;
}

.share li {
    font-size: 1.2em;

    display: inline-block;

    margin-left: 1rem;

    list-style-type: none;
}

.tag-archive-header {
    max-width: 800px;
    margin: 1em 0 1em 0;

    text-align: left;

    border-bottom: 1px solid #ebf2f6;
}

.tag-archive-header i {
    font-size: 80%;
}



/* Media Queries */
@media (min-width: 800px) and (max-height: 520px) {
    .site-footer {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;

        margin-top: 5em;
    }

    .sidebar .logo {
        width: 40%;
        height: auto;
        margin: 0 auto 10px;
    }

    .main-nav ul {
        margin: 1em 0 0 0;
    }
}

@media all and (max-width: 800px) {
    .sidebar {
        font-size: 15px;

        position: relative;

        width: 100%;
        height: 250px;
        padding: 20px 20px 20px 20px;

        -webkit-transform: translateZ(0);
        text-align: center;

        color: #fff;
        background: #303538 no-repeat center center;
        background-position: 20%;
        background-size: cover;
    }

    .sidebar .description {
        display: none;
    }

    .sidebar .circle {
        width: 100px;
        height: 100px;
    }

    .sidebar .logo {
        width: 80px;
        margin: 0 auto;
        margin-top: .5em;
        padding: 0;
    }

    .content {
        margin-left: 0;
    }

    .separator {
        width: 60%;
        margin: 0 auto;
    }

    .dotted-separator {
        display: none;
    }

    .author {
        display: none;
    }

    .main-nav ul {
        margin: 0;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .main-nav ul li {
        display: inline-block;

        width: 20%;

        list-style: none;
        /* margin: 0 0.5em 0 0.5em; */
    }

    .main-nav ul li a {
        line-height: 1.3em;

        width: auto;

        border: none;
    }

    .sidebar .site-footer {
        display: none;
    }

    .body-footer {
        display: block;

        padding: 25px;

        text-align: center;

        background-color: #262626;
    }

    .body-footer .site-footer {
        font-family: 'Tinos', serif;
        font-size: .7rem;
        line-height: 1.8em;

        right: 1em;
        bottom: 1em;
        left: 1em;

        color: #e6e9eb;
    }

    .body-footer .site-footer a {
        text-decoration: none;

        color: #e6e9eb;
    }

    .body-footer .site-footer a:hover {
        color: #fff;
    }

    .sidebar .social-icons {
        margin-top: 0;
    }

    .content .post .post-thumb {
        display: block;
        float: none;
        overflow: hidden;

        width: 100%;
        margin: .7em 0;

        background-repeat: no-repeat;
        background-position-y: 50%;
        background-size: cover;
    }

    .content .post .post-thumb:after {
        display: block;

        padding-top: 45%;

        content: '';
    }
}

@media all and (max-width: 400px) {
    .main-nav ul li {
        width: 32%;
    }
}
